.right-side__updates {
  width: 85%;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  grid-template: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 13px;
}
.right-side__update {
  display: flex;
  gap: 0.5rem;
}
.right-side__update img {
  width: 3.2rem;
  height: 3.2rem;
}
.right-side__notification div span:nth-of-type(1) {
  font-weight: bold;
}
