.cards {
  display: flex;
  gap: 10px;
}
.parent__container {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .cards {
    flex-direction: column;
  }
  .parent__container {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    width: 90%;
  }
}
